
:root {
    --primary-text-color: #757575;
    --primary-black-color: #212121;
    --primary-white-color: #FFFFFF;
    --secondary-black-color: #000000;
    --accent-color: #2196F3;
    --white-bgc-color: #FFFFFF;
    --primary-bgc-color: #2F303A;
    --secondary-bgc-color: #F5F4FA; 
    --button-color: #2196F3;
}

body{
    margin: 0 auto;

    color: var(--primary-text-color);
    font-family: roboto,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
}
   
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

*
::before, 
::after {
    box-sizing: border-box;
}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* HEADER */

.header {
    border-bottom: 1px #ECECEC solid;
}

.nav-page {
    display: flex;
    align-self: center;
    height: 80px;
    background-color: var(--primary-white-color);
}

.nav-logo__link {
    margin: auto 93px auto 0;

    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-black-color);
}

.nav-logo__link span {
    color: var(--accent-color);
}

.site-nav__list {
    margin-right: 314px;
}

.site-nav__list, .auth-nav__list {
    display: flex;
    justify-self: center;
    margin-top: 32px;
    margin-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav__list > li:not(:last-child),
.auth-nav__list > li:not(:last-child) {
    margin-right: 50px;
}

/* Не виправлено баг з розміщенням свг в хедері */
.site-nav__link.active {
    color: var(--accent-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.auth-nav__envelope-icon, .auth-nav__smartphone-icon {
    display: block;
    fill: var(--primary-text-color);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
    color: var(--accent-color);
}

.auth-nav__link {
    display: flex;
    align-items: center;
}

.auth-nav__envelope-icon, .auth-nav__smartphone-icon {
    margin-right: 10px;
}

.auth-nav__link:hover .auth-nav__envelope-icon,
.auth-nav__link:hover .auth-nav__smartphone-icon {
    fill: var(--accent-color);
}


/* HERO */

.hero {
    padding: 200px 0px;
    height: 600px;
    background: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), url(/images/bgc-hero.jpg);
    background-size: cover;
}

.hero .conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-title {
    margin-bottom: 30px;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.hero-button {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);

    background: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

/* ADVENTAGES */

.adventages {
    padding-top: 94px;
    padding-bottom: 94px;
}

.adventages-title {
    display: none;
}

.adventages-list {
    display: flex;
    align-self: center;
}

.adventages-list > li:not(:last-child) {
    margin-right: 30px;
}

.adventages-icon-bgc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    width: 270px;
    height: 120px;
    background: var(--secondary-bgc-color);
    border-radius: 4px;
}

.adventages-list__name {
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--primary-black-color);
}

.adventages-list__text {
    line-height: 1.71;
}

/* WORK */

.work {
    padding-bottom: 94px;
}

.work-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.36;
    text-align: center;
    color: var(--primary-black-color);
}

.work-list {
    display: flex;
}

.work-list > li:not(:last-child) {
    margin-right: 30px;
}

/* TEAM */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondary-bgc-color);
}

.team-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-black-color);
}

.team-list {
    display: flex;
}

.team-list > li:not(:last-child){
    margin-right: 30px;
}

.team-card {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    background: var(--white-bgc-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);   
    border-radius: 0px 0px 4px 4px;
}

.team-card__name {
    margin-bottom: 10px;
    padding-top: 30px;

    font-weight: 500;
    color: var(--primary-black-color);
}

.team-card__text {
    margin-bottom: 16px;
    line-height: 1.19;
    color: var(--primary-text-color)
}

.social-link__list {
    display: flex;
    justify-content: center;
}

.social-link__list > li:not(:last-child) {
    margin-right: 10px;
}

.social-link__list {
    margin-bottom: 30px;
}

.social-link__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.social-link__icon {
    display: block;
    fill: var(--primary-text-color);
}

.social-link__item:hover {
    background-color: var(--accent-color);
    background-size: 44px 44px;
    border-radius: 50%;
}

.social-link__item:hover .social-link__icon {
    fill: #FFFFFF;
}

/* CLIENT */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-black-color);
}

.clients-list {
    display: flex;
}

.clients-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: var(--primary-text-color);
}


.clients-list__item:hover {
    border-color: #2196F3;
}

.clients-list__item:hover .client-list__icon{
    fill: #2196F3;
}

.client-list__icon {
    display: block;
}

.clients-list > li:not(:last-child) {
    margin-right: 30px;
}

/* PORTFOLIO */

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.menu-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.menu-list > li:not(:last-child) {
    margin-right: 8px;
}

.menu-button {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    background: var(--secondary-bgc-color);
    border-radius: 4px;
}

.menu-button.active {
    padding: 6px 25px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.menu-button:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
}

.examples-list >li {
    margin-right: 30px;
    margin-bottom: 30px;
}

.examples-list >li:nth-child(3n){
    margin-right: 0px;
}

.examples-card {
    width: 370px;
    background: var(--white-bgc-color);
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-text {
    margin-left: 24px;
    margin-right: 24px;
    padding: 20px 0px; 
}

.examples-card__name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.03em;
    color: var(--primary-black-color);
}

/* FOOTER */

.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--primary-bgc-color);
}

.footer .conteiner {
    display: flex;
}

.footer-logo__link {
    font-family: raleway,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.footer-logo__link span {
    color: var(--accent-color)
}

.footer-address__list {
    margin-top: 20px;
    margin-right: 70px;
}

.footer-address__list > li:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address__link {
    font-style: normal;
    line-height:1.71;
}

.footer-address__link.map {
    color: var(--primary-white-color);
}

.footer-address__link:hover,
.footer-address__link:focus {
    color: var(--accent-color);
}

.footer-link__list {
    display: flex;
}

.footer-call {
    margin-top: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.footer-link__list {
    margin-top: 20px;
}

.footer-link__list > li:not(:last-child) {
    margin-right: 10px;
}

.footer-link__item {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.footer-link__icon {
    display: block;
    fill: var(--primary-white-color);
}

.footer-link__item:hover,
.footer-link__item:focus {
    background-color: #2196F3;
    background-size: 44px 44px;
    border-radius: 50%;
}

